.head {
    font-size: 40px;
}
.table-head {
    background-color: antiquewhite;
}
.table-body {
    background-color: beige;
}

th {
    border-bottom: 3px solid black;
}

td {
    padding: 5px 10px
}